*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
.nav-container{
    position: sticky;
    z-index: 8;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #b494bc;
}

.navbar-logo{
    width: 6.25rem;
    height: 6.25rem;
}

#filters{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searchBox{
    display: flex;
    justify-content: center;
}

.searchBox input{
    border: none;
    text-align: center;
    margin-top: .625rem;
    padding: .5rem 10rem;
}

.buttonsBox{
    display: flex;
    gap: 3rem;
}

.filtroBtn{
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    font-size: 1rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.navbar i{
    font-size: 1.5625rem;
    margin-right: 1.25rem;
    cursor: pointer;
}

/* Cards */

.shopContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 6.25rem;
    margin-top: 1.875rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

#containerTittle{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card img {
    margin: -30px -30px;
    width: 18rem;
    height: 300px;
    border-radius: 20px; }

.card {
    margin: 0 auto;
    width: 18rem;
    height: 470px;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #cacaca;
    transition: .5s ease-out;
    overflow: visible; 
}

.card .container-info {
    color: #000;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: none;
    gap: 1rem;
    flex-direction: column;
    align-items: center; 
}

.container-info .titulo{
    font-size: 1.3rem;
    font-weight: bold; 
}

.container-info p{
    font-size: 1.3rem; 
}

.card .btn-carrito {
    transform: translate(-50%, 125%);
    width: 60%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background-color: #b494bc;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: .3s ease-out;
    cursor: pointer; 
}

.card:hover {
    border-color: #b494bc;
    box-shadow: 5px 15px 25px #b494bc; 
}

.card:hover .btn-carrito {
    transform: translate(-50%, 50%);
    opacity: 1; 
}


/* Modal del carrito */

.modal-container{
    width: 80%;
    margin: .625rem 10%;
    max-height: 88vh;
    color: #000;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b494bc;
    color: #ffffff;
    width: 100%;
}

.modal-header-titulo{
    font-size: 2.5rem;
    justify-self: start;
}

.close{
    font-size: 1.5625rem;
    cursor: pointer;
}

.eliminar-producto{
    font-size: 1.5625rem;
    cursor: pointer;
    color: #ff0000;
}

.modal-container .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: .900rem;
}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

.modal-container div img{
    height: 7.5rem;
    width: 7.5rem;
}

.total-content{
    background-color: #b494bc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5625rem;
    padding: 1.25rem;
    text-align: center;
    padding-top: 1.25rem;
}

.btn-total{
    background-color: #FFFFFF;
    border: none;
    padding: 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
}


/* globito flotante del carrito */
.cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 45px;
    right: 14px;
    position: absolute;
    display: none;
}